name: 'API - Build and Deploy to GCP'

on:
  workflow_dispatch:

env:
  SERVICE: "${{ vars.GCP_APP_NAME }}-api"
  GAR_NAME: "${{ vars.GCP_APP_NAME }}-repository"

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update application.properties
        run: |
          echo "spring.datasource.password=${{ secrets.DB_PASSWORD }}" >> backend/src/main/resources/application-production.properties

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build jar
        working-directory: backend
        run: mvn clean package

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Docker Auth
        run: |-
          gcloud auth configure-docker "${{ vars.GCP_REGION }}-docker.pkg.dev"

      - name: Build and Push Container
        run: |-
          DOCKER_TAG="${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT }}/${{ env.GAR_NAME }}/${{ env.SERVICE }}:${{ github.sha }}"
          docker build --tag "${DOCKER_TAG}" backend
          docker push "${DOCKER_TAG}"

      - name: Deploy to Cloud Run Job
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE }}
          region: ${{ vars.GCP_REGION }}
          image: ${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT }}/${{ env.GAR_NAME }}/${{ env.SERVICE }}:${{ github.sha }}