name: 'Notification Server - Build and Deploy to Cloud Run'

on:
  workflow_dispatch:

env:
  SERVICE: "${{ vars.GCP_APP_NAME }}-notification-server"
  GAR_NAME: "${{ vars.GCP_APP_NAME }}-repository"

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build jar
        working-directory: notification-server
        run: mvn clean package

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Docker Auth
        run: |-
          gcloud auth configure-docker "${{ vars.GCP_REGION }}-docker.pkg.dev"

      - name: Build and Push Container
        run: |-
          DOCKER_TAG="$${{ vars.GCP_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_NAME }}:${{ github.sha }}"
          docker build --tag "${DOCKER_TAG}" notification-server
          docker push "${DOCKER_TAG}"

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE }}
          region: ${{ vars.GCP_REGION }}
          image: ${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.GAR_NAME }}:${{ github.sha }}